//! **************************************************************************
// Written by: Map P.20131013 on Wed Apr 27 15:27:00 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Debug<7>" LOCATE = SITE "J24" LEVEL 1;
COMP "Debug<8>" LOCATE = SITE "L24" LEVEL 1;
COMP "Debug<9>" LOCATE = SITE "K24" LEVEL 1;
COMP "Debug<10>" LOCATE = SITE "M23" LEVEL 1;
COMP "Debug<11>" LOCATE = SITE "K26" LEVEL 1;
COMP "Debug<12>" LOCATE = SITE "L26" LEVEL 1;
COMP "Debug<13>" LOCATE = SITE "L25" LEVEL 1;
COMP "Debug<14>" LOCATE = SITE "M26" LEVEL 1;
COMP "Debug<15>" LOCATE = SITE "N26" LEVEL 1;
COMP "U_RxD" LOCATE = SITE "P26" LEVEL 1;
COMP "RxD" LOCATE = SITE "R26" LEVEL 1;
COMP "U_TxD" LOCATE = SITE "N23" LEVEL 1;
COMP "TxD" LOCATE = SITE "P24" LEVEL 1;
COMP "Debug<0>" LOCATE = SITE "F26" LEVEL 1;
COMP "Debug<1>" LOCATE = SITE "G26" LEVEL 1;
COMP "Debug<2>" LOCATE = SITE "G25" LEVEL 1;
COMP "Debug<3>" LOCATE = SITE "H26" LEVEL 1;
COMP "Debug<4>" LOCATE = SITE "J26" LEVEL 1;
COMP "Debug<5>" LOCATE = SITE "J25" LEVEL 1;
COMP "Debug<6>" LOCATE = SITE "G23" LEVEL 1;
SCHEMATIC END;

