//! **************************************************************************
// Written by: Map P.20131013 on Sat May 14 21:14:37 2016
//! **************************************************************************

SCHEMATIC START;
COMP "hs" LOCATE = SITE "L23" LEVEL 1;
COMP "vs" LOCATE = SITE "J23" LEVEL 1;
COMP "flash_control_oe" LOCATE = SITE "J1" LEVEL 1;
COMP "flash_control_we" LOCATE = SITE "K1" LEVEL 1;
COMP "flash_control_rp" LOCATE = SITE "A5" LEVEL 1;
COMP "RxD" LOCATE = SITE "R26" LEVEL 1;
COMP "TxD" LOCATE = SITE "P24" LEVEL 1;
COMP "rst" LOCATE = SITE "T1" LEVEL 1;
COMP "flash_control_ce0" LOCATE = SITE "E6" LEVEL 1;
COMP "flash_control_ce1" LOCATE = SITE "E4" LEVEL 1;
COMP "flash_control_ce2" LOCATE = SITE "E3" LEVEL 1;
COMP "extrram_ce" LOCATE = SITE "AC3" LEVEL 1;
COMP "extrram_oe" LOCATE = SITE "AB9" LEVEL 1;
COMP "extrram_we" LOCATE = SITE "AC4" LEVEL 1;
COMP "bOut<0>" LOCATE = SITE "H24" LEVEL 1;
COMP "bOut<1>" LOCATE = SITE "G24" LEVEL 1;
COMP "bOut<2>" LOCATE = SITE "F24" LEVEL 1;
COMP "gOut<0>" LOCATE = SITE "E24" LEVEL 1;
COMP "gOut<1>" LOCATE = SITE "E25" LEVEL 1;
COMP "gOut<2>" LOCATE = SITE "E26" LEVEL 1;
COMP "flash_control_byte" LOCATE = SITE "F3" LEVEL 1;
COMP "extrram_addr<0>" LOCATE = SITE "AD4" LEVEL 1;
COMP "extrram_addr<1>" LOCATE = SITE "AD3" LEVEL 1;
COMP "extrram_addr<2>" LOCATE = SITE "AD6" LEVEL 1;
COMP "extrram_addr<3>" LOCATE = SITE "AC5" LEVEL 1;
COMP "extrram_addr<4>" LOCATE = SITE "AD5" LEVEL 1;
COMP "extrram_addr<5>" LOCATE = SITE "AD14" LEVEL 1;
COMP "extrram_addr<6>" LOCATE = SITE "AC13" LEVEL 1;
COMP "extrram_addr<7>" LOCATE = SITE "AB10" LEVEL 1;
COMP "extrram_addr<8>" LOCATE = SITE "AD10" LEVEL 1;
COMP "extrram_addr<9>" LOCATE = SITE "AD9" LEVEL 1;
COMP "flash_control_vpen" LOCATE = SITE "D5" LEVEL 1;
COMP "baseram_ce" LOCATE = SITE "AA26" LEVEL 1;
COMP "baseram_oe" LOCATE = SITE "AD17" LEVEL 1;
COMP "baseram_we" LOCATE = SITE "AA25" LEVEL 1;
COMP "extrram_data<0>" LOCATE = SITE "AF2" LEVEL 1;
COMP "extrram_data<1>" LOCATE = SITE "AE3" LEVEL 1;
COMP "extrram_data<2>" LOCATE = SITE "AE4" LEVEL 1;
COMP "extrram_data<3>" LOCATE = SITE "AF4" LEVEL 1;
COMP "extrram_data<4>" LOCATE = SITE "AE5" LEVEL 1;
COMP "extrram_data<5>" LOCATE = SITE "AF5" LEVEL 1;
COMP "extrram_data<6>" LOCATE = SITE "AF6" LEVEL 1;
COMP "extrram_data<7>" LOCATE = SITE "AE7" LEVEL 1;
COMP "extrram_data<8>" LOCATE = SITE "AE13" LEVEL 1;
COMP "extrram_data<9>" LOCATE = SITE "AF13" LEVEL 1;
COMP "rOut<0>" LOCATE = SITE "M24" LEVEL 1;
COMP "rOut<1>" LOCATE = SITE "N25" LEVEL 1;
COMP "rOut<2>" LOCATE = SITE "N24" LEVEL 1;
COMP "clkin" LOCATE = SITE "U26" LEVEL 1;
COMP "baseram_addr<0>" LOCATE = SITE "Y26" LEVEL 1;
COMP "baseram_addr<1>" LOCATE = SITE "W25" LEVEL 1;
COMP "baseram_addr<2>" LOCATE = SITE "W26" LEVEL 1;
COMP "baseram_addr<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "baseram_addr<4>" LOCATE = SITE "V26" LEVEL 1;
COMP "baseram_addr<5>" LOCATE = SITE "AC14" LEVEL 1;
COMP "baseram_addr<6>" LOCATE = SITE "AD15" LEVEL 1;
COMP "baseram_addr<7>" LOCATE = SITE "AC15" LEVEL 1;
COMP "baseram_addr<8>" LOCATE = SITE "AC16" LEVEL 1;
COMP "baseram_addr<9>" LOCATE = SITE "AC19" LEVEL 1;
COMP "baseram_data<0>" LOCATE = SITE "AC24" LEVEL 1;
COMP "baseram_data<1>" LOCATE = SITE "AD24" LEVEL 1;
COMP "baseram_data<2>" LOCATE = SITE "AC26" LEVEL 1;
COMP "baseram_data<3>" LOCATE = SITE "AB26" LEVEL 1;
COMP "baseram_data<4>" LOCATE = SITE "Y24" LEVEL 1;
COMP "baseram_data<5>" LOCATE = SITE "AA24" LEVEL 1;
COMP "baseram_data<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "baseram_data<7>" LOCATE = SITE "AB24" LEVEL 1;
COMP "baseram_data<8>" LOCATE = SITE "AD19" LEVEL 1;
COMP "baseram_data<9>" LOCATE = SITE "AB18" LEVEL 1;
COMP "kbd_enb_hi" LOCATE = SITE "R24" LEVEL 1;
COMP "kbd_enb_lo" LOCATE = SITE "R25" LEVEL 1;
COMP "flash_addr<10>" LOCATE = SITE "B6" LEVEL 1;
COMP "flash_addr<11>" LOCATE = SITE "C5" LEVEL 1;
COMP "flash_addr<12>" LOCATE = SITE "E5" LEVEL 1;
COMP "flash_addr<20>" LOCATE = SITE "F5" LEVEL 1;
COMP "flash_addr<13>" LOCATE = SITE "B4" LEVEL 1;
COMP "flash_addr<21>" LOCATE = SITE "D3" LEVEL 1;
COMP "flash_addr<14>" LOCATE = SITE "A4" LEVEL 1;
COMP "flash_addr<22>" LOCATE = SITE "G5" LEVEL 1;
COMP "flash_addr<15>" LOCATE = SITE "C4" LEVEL 1;
COMP "flash_addr<16>" LOCATE = SITE "C3" LEVEL 1;
COMP "flash_addr<17>" LOCATE = SITE "B2" LEVEL 1;
COMP "flash_addr<18>" LOCATE = SITE "A2" LEVEL 1;
COMP "flash_addr<19>" LOCATE = SITE "C2" LEVEL 1;
COMP "extrram_addr<10>" LOCATE = SITE "AC9" LEVEL 1;
COMP "extrram_addr<11>" LOCATE = SITE "AD8" LEVEL 1;
COMP "extrram_addr<12>" LOCATE = SITE "AB8" LEVEL 1;
COMP "extrram_addr<13>" LOCATE = SITE "AD7" LEVEL 1;
COMP "extrram_addr<14>" LOCATE = SITE "AC7" LEVEL 1;
COMP "extrram_addr<15>" LOCATE = SITE "AA4" LEVEL 1;
COMP "extrram_addr<16>" LOCATE = SITE "AB3" LEVEL 1;
COMP "extrram_addr<17>" LOCATE = SITE "AB4" LEVEL 1;
COMP "extrram_addr<18>" LOCATE = SITE "AB5" LEVEL 1;
COMP "extrram_addr<19>" LOCATE = SITE "AB6" LEVEL 1;
COMP "extrram_data<10>" LOCATE = SITE "AD11" LEVEL 1;
COMP "extrram_data<11>" LOCATE = SITE "AC11" LEVEL 1;
COMP "extrram_data<20>" LOCATE = SITE "AC2" LEVEL 1;
COMP "extrram_data<12>" LOCATE = SITE "AD12" LEVEL 1;
COMP "extrram_data<21>" LOCATE = SITE "AB1" LEVEL 1;
COMP "extrram_data<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "extrram_data<22>" LOCATE = SITE "AA2" LEVEL 1;
COMP "extrram_data<14>" LOCATE = SITE "AD13" LEVEL 1;
COMP "extrram_data<30>" LOCATE = SITE "AF11" LEVEL 1;
COMP "extrram_data<23>" LOCATE = SITE "AA1" LEVEL 1;
COMP "extrram_data<31>" LOCATE = SITE "AF12" LEVEL 1;
COMP "extrram_data<15>" LOCATE = SITE "AF14" LEVEL 1;
COMP "extrram_data<16>" LOCATE = SITE "AE2" LEVEL 1;
COMP "extrram_data<24>" LOCATE = SITE "AF7" LEVEL 1;
COMP "extrram_data<17>" LOCATE = SITE "AE1" LEVEL 1;
COMP "extrram_data<25>" LOCATE = SITE "AF8" LEVEL 1;
COMP "extrram_data<18>" LOCATE = SITE "AD1" LEVEL 1;
COMP "extrram_data<26>" LOCATE = SITE "AE9" LEVEL 1;
COMP "extrram_data<19>" LOCATE = SITE "AC1" LEVEL 1;
COMP "extrram_data<27>" LOCATE = SITE "AF9" LEVEL 1;
COMP "extrram_data<28>" LOCATE = SITE "AF10" LEVEL 1;
COMP "extrram_data<29>" LOCATE = SITE "AE11" LEVEL 1;
COMP "ps2clk" LOCATE = SITE "U25" LEVEL 1;
COMP "flash_addr<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "flash_addr<1>" LOCATE = SITE "C8" LEVEL 1;
COMP "flash_addr<2>" LOCATE = SITE "D8" LEVEL 1;
COMP "flash_addr<3>" LOCATE = SITE "D7" LEVEL 1;
COMP "flash_addr<4>" LOCATE = SITE "E8" LEVEL 1;
COMP "flash_addr<5>" LOCATE = SITE "A7" LEVEL 1;
COMP "flash_addr<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "flash_addr<7>" LOCATE = SITE "C6" LEVEL 1;
COMP "flash_addr<8>" LOCATE = SITE "D6" LEVEL 1;
COMP "flash_addr<9>" LOCATE = SITE "A6" LEVEL 1;
COMP "baseram_addr<10>" LOCATE = SITE "AD20" LEVEL 1;
COMP "baseram_addr<11>" LOCATE = SITE "AC20" LEVEL 1;
COMP "baseram_addr<12>" LOCATE = SITE "AD21" LEVEL 1;
COMP "baseram_addr<13>" LOCATE = SITE "AB22" LEVEL 1;
COMP "baseram_addr<14>" LOCATE = SITE "AD22" LEVEL 1;
COMP "baseram_addr<15>" LOCATE = SITE "AA23" LEVEL 1;
COMP "baseram_addr<16>" LOCATE = SITE "AC23" LEVEL 1;
COMP "baseram_addr<17>" LOCATE = SITE "V23" LEVEL 1;
COMP "baseram_addr<18>" LOCATE = SITE "W22" LEVEL 1;
COMP "baseram_addr<19>" LOCATE = SITE "W24" LEVEL 1;
COMP "baseram_data<10>" LOCATE = SITE "AD18" LEVEL 1;
COMP "baseram_data<11>" LOCATE = SITE "AC17" LEVEL 1;
COMP "baseram_data<12>" LOCATE = SITE "AB17" LEVEL 1;
COMP "baseram_data<20>" LOCATE = SITE "AE25" LEVEL 1;
COMP "baseram_data<21>" LOCATE = SITE "AE26" LEVEL 1;
COMP "baseram_data<13>" LOCATE = SITE "AF21" LEVEL 1;
COMP "baseram_data<22>" LOCATE = SITE "AD26" LEVEL 1;
COMP "baseram_data<14>" LOCATE = SITE "AE21" LEVEL 1;
COMP "baseram_data<30>" LOCATE = SITE "AF15" LEVEL 1;
COMP "baseram_data<23>" LOCATE = SITE "AC25" LEVEL 1;
COMP "baseram_data<31>" LOCATE = SITE "AE15" LEVEL 1;
COMP "baseram_data<15>" LOCATE = SITE "AF20" LEVEL 1;
COMP "baseram_data<16>" LOCATE = SITE "AE23" LEVEL 1;
COMP "baseram_data<24>" LOCATE = SITE "AF19" LEVEL 1;
COMP "baseram_data<25>" LOCATE = SITE "AE19" LEVEL 1;
COMP "baseram_data<17>" LOCATE = SITE "AF24" LEVEL 1;
COMP "baseram_data<18>" LOCATE = SITE "AE24" LEVEL 1;
COMP "baseram_data<26>" LOCATE = SITE "AF18" LEVEL 1;
COMP "baseram_data<27>" LOCATE = SITE "AF17" LEVEL 1;
COMP "baseram_data<19>" LOCATE = SITE "AF25" LEVEL 1;
COMP "baseram_data<28>" LOCATE = SITE "AE17" LEVEL 1;
COMP "baseram_data<29>" LOCATE = SITE "AF16" LEVEL 1;
COMP "kbd_data<0>" LOCATE = SITE "R23" LEVEL 1;
COMP "kbd_data<1>" LOCATE = SITE "T26" LEVEL 1;
COMP "kbd_data<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "kbd_data<3>" LOCATE = SITE "T23" LEVEL 1;
SCHEMATIC END;

