NET "flash_addr[22]" LOC = G5;
NET "flash_addr[21]" LOC = D3;
NET "flash_addr[20]" LOC = F5;
NET "flash_addr[19]" LOC = C2;
NET "flash_addr[18]" LOC = A2;
NET "flash_addr[17]" LOC = B2;
NET "flash_addr[16]" LOC = C3;
NET "flash_addr[15]" LOC = C4;
NET "flash_addr[14]" LOC = A4;
NET "flash_addr[13]" LOC = B4;
NET "flash_addr[12]" LOC = E5;
NET "flash_addr[11]" LOC = C5;
NET "flash_addr[10]" LOC = B6;
NET "flash_addr[9]" LOC = A6;
NET "flash_addr[8]" LOC = D6;
NET "flash_addr[7]" LOC = C6;
NET "flash_addr[6]" LOC = C7;
NET "flash_addr[5]" LOC = A7;
NET "flash_addr[4]" LOC = E8;
NET "flash_addr[3]" LOC = D7;
NET "flash_addr[2]" LOC = D8;
NET "flash_addr[1]" LOC = C8;
NET "flash_addr[0]" LOC = G3;
NET "flash_data[15]" LOC = H1;
NET "flash_data[14]" LOC = G2;
NET "flash_data[13]" LOC = E1;
NET "flash_data[12]" LOC = D1;
NET "flash_data[11]" LOC = B1;
NET "flash_data[10]" LOC = H5;
NET "flash_data[9]" LOC = J4;
NET "flash_data[8]" LOC = H3;
NET "flash_data[7]" LOC = G1;
NET "flash_data[6]" LOC = F1;
NET "flash_data[5]" LOC = E2;
NET "flash_data[4]" LOC = C1;
NET "flash_data[3]" LOC = K5;
NET "flash_data[2]" LOC = K3;
NET "flash_data[1]" LOC = J3;
NET "flash_data[0]" LOC = G4;

NET "flash_control_byte" LOC = F3;
NET "flash_control_ce0" LOC = E6;
NET "flash_control_ce1" LOC = E4;
NET "flash_control_ce2" LOC = E3;
NET "flash_control_oe" LOC = J1;
NET "flash_control_rp" LOC = A5;
NET "flash_control_vpen" LOC = D5;
NET "flash_control_we" LOC = K1;

NET "Debug[15]" LOC = N26;
NET "Debug[14]" LOC = M26;
NET "Debug[13]" LOC = L25;
NET "Debug[12]" LOC = L26;
NET "Debug[11]" LOC = K26;
NET "Debug[10]" LOC = M23;
NET "Debug[9]" LOC = K24;
NET "Debug[8]" LOC = L24;

NET "Debug[7]" LOC = J24;
NET "Debug[6]" LOC = G23;
NET "Debug[5]" LOC = J25;
NET "Debug[4]" LOC = J26;
NET "Debug[3]" LOC = H26;
NET "Debug[2]" LOC = G25;
NET "Debug[1]" LOC = G26;
NET "Debug[0]" LOC = F26;

NET "spd[4]" LOC = U1;
NET "spd[3]" LOC = V1;
NET "spd[2]" LOC = W2;
NET "spd[1]" LOC = W1;
NET "spd[0]" LOC = Y5;

NET "rst" LOC = T1;
NET "clk50" LOC = U26;