NET "Debug[15]" LOC = N26;
NET "Debug[14]" LOC = M26;
NET "Debug[13]" LOC = L25;
NET "Debug[12]" LOC = L26;
NET "Debug[11]" LOC = K26;
NET "Debug[10]" LOC = M23;
NET "Debug[9]" LOC = K24;
NET "Debug[8]" LOC = L24;

NET "Debug[7]" LOC = J24;
NET "Debug[6]" LOC = G23;
NET "Debug[5]" LOC = J25;
NET "Debug[4]" LOC = J26;
NET "Debug[3]" LOC = H26;
NET "Debug[2]" LOC = G25;
NET "Debug[1]" LOC = G26;
NET "Debug[0]" LOC = F26;

NET "rst" LOC = T1;
NET "clk50" LOC = U26;
NET "clk11" LOC = U25;

NET "RxD" LOC = P26;
NET "TxD" LOC = N23;